<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2020 Maqdoom. All rights reserved.
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.maqdoom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MaqdoomApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.customerHome.CustomerHomeActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.forgotPassword.ForgotPasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.sellerHome.SellerHomeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.sellerPackages.SellerPackageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.sellerPackagePayment.SellerPackagePaymentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.sellerAddPackage.SellerAddPackageActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.touristPackageDetails.FullImageActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".utils.MaqdoomMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

    </application>

</manifest>